@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;800&display=swap');

:root {
    --bs-white:#FFF;
    --bs-blue : #0D6EFD;
    --bs-hover : #69a4fc;
    --bs-bgColor:#37517E;
   }
   
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    /* overflow: hidden; */
}